.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.lock
*.log
.flutter
ios/Pods/
ios/.symlinks/
android/app/build/
android/.gradle/
android/local.properties
.DS_Store
assets/images/*.webp
